body {
  margin: 0px;
}

a {
  text-decoration: none;
  color : whitesmoke;
  font-weight: 600;
}

h2 {
  margin : 15px;
}

.navbar {
  display: flex;
  background: hotpink;
  color: whitesmoke;
  margin: 0;
}

.nav-item {
  margin: 10px;
}

.list-bg {
  background: palevioletred;
  padding: 5px 0px;
  
}

.list-item {
  opacity: 1;
  transition: all 1s;
  background: pink;
  margin: 10px;
  padding: 5px 10px;
  font-size: 20px;
}

.detail {
  background: pink;
  padding: 10px;
}

.detail-item {
  margin: 10px;
  font-size: 20px;
}

.comment {
  margin-left: 10px;
}